@charset "UTF-8";

.body {
  text-align: center;
  font-family:'Verdana','Hiragino Sans','Meiryo',sans-serif;
  margin: -27px 0px;
  margin-left:15px;
  font-size: 20px;
   }
.header0{
    display:inline-flex;
    align-items: flex-start;
    margin-left: 0px;
  margin-top:30px;
}
/*SHOP名*/
.name0{
    display: inline-block; 
}
/*画面名*/
h1{    
    font-size: 50px;
    display: inline; 
  margin-left:400px;
  margin-top: 40px;
  margin-bottom: 40px;
  }
  .daimei{
    display:inline-flex;
    align-items:flex-end;
  }
.jusyo{
  text-align:left;
}
.button1{
  display: inline-block; 
  margin-left:330px;
  margin-bottom:55px;
}
.buttont{
  width:150px;
  height:50px;
  font-size: 20px;
}
.buttont2{
margin-right:80px;
}
button{
    width:150px;
  height:50px;
  font-size: 20px;
}

table{
  display: inline-block; 
  text-align: center;
  margin-top:0px;
  border-collapse: collapse ;
  
}
.table1{
  font-weight:bold;
  width:150px;
  display: inline-block;
  margin-top:10px;
  text-align:left;
}
.table2{
  display: inline-block;
  margin-right:150px;
  }
